#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.bar{
    background-color: tomato;
    width: 7px;
}

body {
    background-color: black;
}